{% extends "templates/web.html" %}
{% block styles %}
{% endblock %}


{% block content %}
{% include "havano_pos_addson/www/template-parts/havano-pos-header.html" %}
{% include "havano_pos_addson/www/template-parts/general.html" %}
{% include "havano_pos_addson/www/template-parts/touch-ui/havano-pos-table-items-touchui.html" %}
{% include "havano_pos_addson/www/template-parts/touch-ui/havano-pos-quantity-popup-touchui.html" %}
{% include "havano_pos_addson/www/template-parts/touch-ui/havano-pos-group-items-touchui.html" %}
{% include "havano_pos_addson/www/template-parts/touch-ui/havano-pos-footer-touchui.html" %}

 <script src="./static/v2/js/dom-cache.js"></script>
<script src="./static/v2/js/ui.js"></script>
<script src="./static/v2/js/data.js"></script>
<script src="./static/v2/js/search.js"></script>
<script src="./static/v2/js/invoice.js"></script>
<script src="./static/v2/js/navigation.js"></script>
<script src="./static/v2/js/events.js"></script>
<script src="./static/v2/js/main.js"></script>

{% endblock %}