{% extends "templates/web.html" %}
{% block styles %}
{% endblock %}


{% block content %}
{% include "havano_pos_addson/www/template-parts/havano-pos-header.html" %}
{% include "havano_pos_addson/www/template-parts/general.html" %}
{% include "havano_pos_addson/www/template-parts/non-touch-ui/havano-pos-table-items-non-touchui.html" %}
{% include "havano_pos_addson/www/template-parts/non-touch-ui/havano-pos-quantity-popup-touchui.html" %}
{% include "havano_pos_addson/www/template-parts/non-touch-ui/havano-pos-footer-non-touchui.html" %}

<script src="./static/v1/js/general.js"></script>
<script src="./static/v1/js/non-touch-ui/havano-pos-non-touch-ui.js" defer></script>
<script src="./static/v1/js/non-touch-ui/havano-pos-non-touch-ui-add-item-forms.js" defer></script>
{% endblock %}